<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AzureCompilerFacilePackage" version="1.0.2.4" targetFramework="net452" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net452" />
  <package id="Run00.AppVeyor" version="0.0.0.105" targetFramework="net452" />
  <package id="ScriptCs.Contracts" version="0.16.1" targetFramework="net452" />
  <package id="ScriptCs.Core" version="0.16.1" targetFramework="net452" />
  <package id="ScriptCs.Engine.Roslyn" version="0.16.1" targetFramework="net452" />
</packages>