<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arbor.X" version="1.0.40" targetFramework="net45" />
  <package id="AzureCompilerFacilePackage" version="1.0.2.4" targetFramework="net452" />
  <package id="CommandLineParser" version="2.5.0" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net452" />
  <package id="EnvDTE" version="8.0.2" targetFramework="net45" />
  <package id="EnvDTE80" version="8.0.3" targetFramework="net45" />
  <package id="GrEmit" version="3.1.1" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.16" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.11.0" targetFramework="net45" />
  <package id="NUnit.Engine" version="3.10.0" targetFramework="net45" />
  <package id="Run00.AppVeyor" version="0.0.0.105" targetFramework="net452" />
  <package id="ScriptCs.Contracts" version="0.16.1" targetFramework="net452" />
  <package id="ScriptCs.Core" version="0.16.1" targetFramework="net452" />
  <package id="ScriptCs.Engine.Roslyn" version="0.16.1" targetFramework="net452" />
  <package id="stdole" version="7.0.3302" targetFramework="net45" />
  <package id="VSLangProj" version="7.0.3301" targetFramework="net45" />
</packages>